.highlight {
  color: #e8ac3a;
}

.underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  transform-origin: center;
  transition: transform 0.3s ease;
}
.underline-hover:hover {
  transform: scale(1.15);
  transition: 300ms;
}
.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e8ac3a;
  transition: width 0.3s ease;
}
.underline-hover:hover::after {
  width: 100%;
}
.underline-hover.active::after {
  width: 100%;
  transition: none;
}

.vertical-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0 20px;
}
.vertical-line-container .vertical-line {
  width: 2px;
  height: 80px;
  background-color: #f5a623;
}

.cars-section {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.cars-section .sidebar {
  flex-shrink: 0;
}
.cars-section .cars-container {
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sidebar {
  width: 10%;
  min-width: 150px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: #333;
  padding: 20px 10px;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.4);
  color: #fff;
}
.sidebar form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.sidebar form .filter-group label {
  font-size: medium;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.sidebar form .filter-group input,
.sidebar form .filter-group select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 1rem;
  background-color: #1b1a1a;
  color: #fff;
}
.sidebar form .filter-group button {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.sidebar form .filter-group .radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar form .filter-group .radio-group label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.sidebar form .filter-group .radio-group label input[type=radio] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  outline: none;
  background-color: #1b1a1a;
  cursor: pointer;
}
.sidebar form .filter-group .radio-group label input[type=radio]:checked {
  background-color: #e8ac3a;
  border-color: #e8ac3a;
  box-shadow: 0 0 4px #e8ac3a;
}
.sidebar form .filter-group .radio-group label span {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  margin-right: 20px;
  width: 90%;
}
.cars-container .car-card {
  width: 100%;
  max-width: 1200px;
  height: auto;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cars-container .car-card .delete-button-placement {
  position: relative;
  top: 50px;
  left: 40%;
}
.cars-container .car-card .car-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.cars-container .car-card .car-info {
  width: 95%;
  position: relative;
  bottom: 40px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: #2e2f2e;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.cars-container .car-card .car-info .car-specs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cars-container .car-card .car-info .car-specs .car-name {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}
.cars-container .car-card .car-info .car-specs .car-details {
  display: flex;
  gap: 15px;
  font-size: 1rem;
}
.cars-container .car-card .car-info .car-specs .car-details .detail-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}
.cars-container .car-card .car-info .car-specs .car-details .detail-icon img {
  width: 30px;
  height: 30px;
}
.cars-container .car-card .car-info .car-price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.cars-container .car-card .car-info .car-price .reserve-button {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.cars-container .car-card .car-info .car-price .reserve-button img {
  width: 40px;
  height: 40px;
}
.cars-container .car-card .car-info .car-price .price {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: bold;
  color: #e8ac3a;
}
.cars-container .car-card .car-info .car-price .price small {
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
  text-align: right;
}

.success-message {
  margin-top: 100px;
  color: green;
  font-weight: bold;
  padding: 10px;
  border: 1px solid green;
  background-color: #eaffea;
  text-align: center;
  margin-bottom: 20px;
}

.admin-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 100px;
  color: #e8ac3a;
}

.admin-container {
  margin-top: 20px;
  min-height: 90vh;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.admin-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .cars-section {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
  .cars-container {
    width: 100%;
    margin-right: 0;
  }
  .admin-buttons-container {
    padding: 0 20px;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .cars-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

/*# sourceMappingURL=admin.css.map */
