.highlight {
  color: #e8ac3a;
}

.underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  transform-origin: center;
  transition: transform 0.3s ease;
}
.underline-hover:hover {
  transform: scale(1.15);
  transition: 300ms;
}
.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e8ac3a;
  transition: width 0.3s ease;
}
.underline-hover:hover::after {
  width: 100%;
}
.underline-hover.active::after {
  width: 100%;
  transition: none;
}

.vertical-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0 20px;
}
.vertical-line-container .vertical-line {
  width: 2px;
  height: 80px;
  background-color: #f5a623;
}

.section-cars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: #1b1a1a;
}
.section-cars .section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}
.section-cars .section-header .section-description {
  font-size: 1.2rem;
  letter-spacing: 5px;
  color: #e8ac3a;
}
.section-cars .section-header .section-title {
  font-size: xxx-large;
  font-weight: bold;
  color: #fff;
}
.section-cars .car-slider .car-card:not(.car-card:first-child) {
  display: none;
}
.section-cars .car-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow-x: hidden;
}
.section-cars .slider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  align-items: center;
  overflow-x: hidden;
}
.section-cars .slider-container .slide-button {
  background-color: #2e2f2e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
  border: none;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.section-cars .slider-container .car-card {
  width: 100%;
  max-width: 900px;
  height: auto;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.section-cars .slider-container .car-card .car-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.section-cars .slider-container .car-card .car-info {
  width: 95%;
  position: relative;
  bottom: 40px;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #2e2f2e;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.section-cars .slider-container .car-card .car-info .car-specs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-cars .slider-container .car-card .car-info .car-specs .car-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}
.section-cars .slider-container .car-card .car-info .car-specs .car-details {
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
  padding-right: 30px;
}
.section-cars .slider-container .car-card .car-info .car-specs .car-details .detail-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}
.section-cars .slider-container .car-card .car-info .car-specs .car-details .detail-icon img {
  width: 40px;
  height: 40px;
}
.section-cars .slider-container .car-card .car-info .car-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.section-cars .slider-container .car-card .car-info .car-price .price {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  color: #e8ac3a;
}
.section-cars .slider-container .car-card .car-info .car-price .price small {
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
  text-align: right;
}

/*# sourceMappingURL=cars-main.css.map */
