.highlight {
  color: #e8ac3a;
}

.underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  transform-origin: center;
  transition: transform 0.3s ease;
}
.underline-hover:hover {
  transform: scale(1.15);
  transition: 300ms;
}
.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e8ac3a;
  transition: width 0.3s ease;
}
.underline-hover:hover::after {
  width: 100%;
}
.underline-hover.active::after {
  width: 100%;
  transition: none;
}

.vertical-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0 20px;
}
.vertical-line-container .vertical-line {
  width: 2px;
  height: 80px;
  background-color: #f5a623;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  padding: 20px;
  color: #fff;
  width: 100%;
}
.profile-container h3 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}
.profile-container .rentals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.profile-container .rentals h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.profile-container .rentals .rentals-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  justify-content: center;
  text-align: left;
  width: 100%;
  border-radius: 1.5rem;
}
.profile-container .rentals .rentals-container .rental {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.profile-container .rentals .rentals-container .rental .rental-info {
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: left;
  padding: 20px;
  background-color: #2e2f2e;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  letter-spacing: 3px;
}
.profile-container .rentals .rentals-container .rental .rental-info span {
  font-weight: bold;
  color: #e8ac3a;
}
.profile-container .rentals .rentals-container .rental img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.profile-container .rentals .labels,
.profile-container .rentals .values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-container .rentals .labels p,
.profile-container .rentals .values p {
  margin: 0;
}
.profile-container .rentals .labels p span,
.profile-container .rentals .values p span {
  font-weight: bold;
  color: #e8ac3a;
}
.profile-container .rentals .labels p {
  font-weight: bold;
  color: #646464;
}
.profile-container .user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: 100%;
}
.profile-container .user-data h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.profile-container .user-data .data-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  text-align: left;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.profile-container .user-data .labels,
.profile-container .user-data .values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-container .user-data .labels p,
.profile-container .user-data .values p {
  margin: 0;
}
.profile-container .user-data .labels p span,
.profile-container .user-data .values p span {
  font-weight: bold;
  color: #e8ac3a;
}
.profile-container .user-data .labels p {
  font-weight: bold;
  color: #646464;
}

.logout-button {
  position: absolute;
  top: 120px;
  right: 15px;
}

/*# sourceMappingURL=profile.css.map */
