@use "utils" as *;

.main-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .cart {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: start;
    color: $color-white;


    h1 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    .cart-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding: 0 20px;

      p {
        text-align: center;
        font-size: 1.2rem;
        color: $color-gray-lighter;
      }

      .cart-elem {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        background-color: $color-medium-gray;
        border-radius: $border-3xl;
        box-shadow: $shadow-box;

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;

          strong {
            font-size: 1rem;
            color: $color-gold;
          }

          form {
            margin-top: 10px;
          }
        }
      }
    }
  }
}