@use "utils" as *;

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  padding: 20px;
  color: $color_white;
  width: 100%;

  h3 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
  }

  .admin-panel-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: $color-gold;
    color: $color-white;
    border-radius: $border-3xl;
    font-weight: bold;
    text-decoration: none;
    transition: background-color $transition-duration;

    &:hover {
      background-color: $color-transparent-dark;
      box-shadow: $shadow-box-light;
    }

  }

  .rentals {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-white;
      text-align: center;
    }

    .rentals-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 40px; // Space between the columns
      justify-content: center; // Center the columns horizontally
      text-align: left; // Ensure all text aligns to the left
      width: 100%;
      border-radius: $border-3xl;

      .rental {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
        max-width: 1200px;


        .rental-info {
          position: relative;
          bottom: 70px;
          display: flex;
          flex-direction: column;
          gap: 10px; // Space between the columns
          justify-content: center; // Center the columns horizontally
          text-align: left; // Ensure all text aligns to the left
          padding: 20px;
          background-color: $color-medium-gray;
          border-radius: $border-3xl;
          box-shadow: $shadow-box;
          width: 100%;
          letter-spacing: 3px;

          span {
            font-weight: bold;
            color: $color-gold;
            letter-spacing: 0;
          }

          .expired {
            position: relative;
            opacity: 0.6;
            filter: grayscale(100%);
            border: 2px solid $color-red;
            overflow: hidden;
          }

          .expired-text {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            font-size: 2rem;
            font-weight: bold;
            color: $color-red;
            text-align: center;
            text-transform: uppercase;
            background: $color-transparent-darkest;
            padding: 10px 20px;
            border-radius: 10px;
            z-index: 10;
            box-shadow: $shadow-box;
          }

        }

        img {
          width: 100%;
          aspect-ratio: 16 / 9; // Maintains a consistent aspect ratio
          height: fit-content;
          object-fit: cover; // Ensures the image fills the container proportionally
          box-shadow: $shadow-box;
          border-radius: $border-4xl;
        }

      }
    }

    .labels,
    .values {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        margin: 0;

        span {
          font-weight: bold;
          color: $color-gold;
        }
      }
    }

    .labels p {
      font-weight: bold;
      color: $color-gray-lighter;
    }
  }

  .user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 100%;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-white;
      text-align: center;
    }

    .data-container {
      display: flex;
      gap: 40px; // Space between the columns
      justify-content: center; // Center the columns horizontally
      text-align: left; // Ensure all text aligns to the left
      padding: 20px;
      background-color: $color-transparent-dark;
      border-radius: $border-3xl;
      box-shadow: $shadow-box;
    }

    .labels,
    .values {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        margin: 0;

        span {
          font-weight: bold;
          color: $color-gold;
        }
      }
    }

    .labels p {
      font-weight: bold;
      color: $color-gray-lighter;
    }
  }
}

.logout-button {
  position: absolute;
  top: 120px;
  right: 15px;
}