@use "utils" as *;

.section-cars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: $color-dark-theme;

  .section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;

    .section-description {
      font-size: 1.2rem;
      letter-spacing: 5px;
      color: $color-gold;
    }

    .section-title {
      font-size: xxx-large;
      font-weight: bold;
      color: $color-white;
    }
  }

  .car-slider .car-card:not(.car-card:first-child) {
    display: none;
  }

  .car-card {
    width: 100%;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

    .car-image {
      width: 1200px;
      height: 600px;
      object-fit: cover;
      box-shadow: $shadow-box;
      border-radius: $border-4xl;
    }

    .car-info {
      position: relative;
      bottom: 40px;
      padding: 15px 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      width: 95%;
      background-color: $color-medium-gray;
      border-radius: $border-2xl;
      box-shadow: $shadow-box;

      .car-specs {
        display: flex;
        flex-direction: column;
        gap: 10px;


        .car-name {
          font-size: 1.6rem;
          font-weight: bold;
          margin: 0;
        }

        .car-details {
          display: flex;
          gap: 15px;
          font-size: 1.2rem;

          padding-right: 30px;

          .detail-icon {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: normal;

            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }


      .car-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        width: 30%;

        .price {
          display: flex;
          flex-direction: column;
          font-size: 2rem;
          font-weight: bold;
          color: $color-gold;

          small {
            font-size: 1rem;
            font-weight: normal;
            color: $color-white;
            text-align: right;
          }
        }
      }
    }
  }

  .slide-button {
    width: 60px;
    height: 60px;
    background-color: $color-medium-gray;
    border-radius: $border-full;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-dark-theme;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

}
