
@use "main-slider";
@use "section-rent-now";
@use "buttons";
@use "header";
@use "footer";
@use "login-register";
@use "utils" as *;
@use "profile";
@use "cars-main";
@use "cars-page";
@use "contact";
@use "section-car-categories";
@use "section-rent-steps";
@use "rent_car";
@use "cart";

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color-dark-theme;

}

.main-container {
  margin-top: 100px;
  min-height: 90vh;
  width: 100%;
  max-width: 100vw; // Ensures no overflow beyond the viewport
  overflow: hidden;
}


