$color-gold: #e8ac3a;
$color-white: #fff;
$color-black: #000;
$color-transparent-dark: rgba(0, 0, 0, 0.4);
$color-transparent-darker: rgba(0, 0, 0, 0.5);
$color-dark-theme: #1b1a1a;
$color-medium-gray: #2e2f2e;
$color-gray-light: #333;
$color-gray-lighter: #646464;
$white-transparent: rgba(255, 255, 255, 0.5);

$transition-duration: 0.3s;

$card-width: 100%;
$card-width-rent-car: 30%;
$bar-width: 95%;
$sidebar-width: 10%;

$form-width: 90vw;
$input-padding: 0.5rem;
$label-color: rgba(255, 255, 255, 0.9);
$label-active-color: #f2a900;
$blur: 8px;

$border-2xl: 1rem;
$border-3xl: 1.5rem;
$border-4xl: 2rem;
$border-full: 9999px;

$shadow-box: 0px 4px 10px rgba(0, 0, 0, 0.2);

$shadow-box-light: 0px 4px 10px rgba(255, 255, 255, 0.4);

.highlight {
  color: $color-gold;
}

.underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  transform-origin: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.15);
    transition: 300ms;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $color-gold;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &.active::after {
    width: 100%;
    transition: none;
  }
}

.vertical-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0 20px;

  .vertical-line {
    width: 2px;
    height: 80px;
    background-color: #f5a623;

  }
}

